@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FAFAFA;
  --primary80: #FAFAFACC;
  --secondary: #F1F3F5;
  --secondary400: #5e5e5e;
  --secondary600: #EBEBEB;
  --secondary800: #d1d1d1;
  --text: #1F2933;
  --cta: #2B82F6;
  --cta400: #2B82F65C;
  --cta400: #2B82F65C;
  --danger: #EF444424;
  --danger400: #EF4444;
  --accent: #6366F1;
  --accent400: #6366F166;
  --highlight: #F59E0B;
  --highlight400: #F59E0B21;
  --positive: #28A74524;
  --positive400: #367839;
  --positive600: #467e49;
  --positive800: #46DD4E;
}

.dark {
  --primary: #0F172A;
  --secondary: #1E293B;
  --text: #35E7EB;
  --cta: #60A5FA;
  --danger: #F87171;
  --accent: #818CFB;
  --highlight: #FBBF24;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #FAFAFA;
}